ul li {
list-style-type: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ClassyCountdown-days, .ClassyCountdown-hours, .ClassyCountdown-minutes {
	display: none;
	visibility: hidden;
}	

table {
	border-collapse: collapse;
}

h1 {
	padding: 0px 20px;
}