<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-toolbar>
	<h1> Timed Student Login</h1>
	</md-toolbar>
	<div class="container">
		<div>
			<img class="home-pic" src="/public/images/timer_bomb.png"/>
		</div>
		<div class="vertical">
			<md-button class="md-button md-primary md-raised" ui-sref="studlogin" >Student Login</md-button>
			<md-button class="md-button md-primary md-raised" ui-sref="teachlogin" >Teacher Login</md-button>
			<md-button class="md-button md-primary md-raised" ui-sref="signup" >Signup </md-button>
		</div>
	</div>
</div>