<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-toolbar>
		<h1>Student/Teacher Signup</h1>
	</md-toolbar>
	<div class="container">
		<md-card class="login-card container">
			<form name="Form">

				<md-input-container class="md-block">
					<md-icon class="material-icons">account_circle</md-icon>
					<label>ID number</label>
					<input class="login" ng-required="1" type="number" ng-model="id" pattern="^[0-9]{7}$">
					</input>
				</md-input-container>

				<md-input-container class="md-block">
					<md-icon class="material-icons">security</md-icon>
					<label>Password</label>
					<input class="login" type="password" name="password"
					ng-model="userpass" ng-required="1" />
				</md-input-container>
			</form>
			<label class="reminder">*Note: Student IDs must begin with 1000</label>
			<md-button ng-click="Signup();" class="md-raised md-primary"> Signup </md-button>
		</md-card>
	</div>
</div>
	