<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-toolbar>
		<div class="row">
			<h1>Check-In Confirmation</h1>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Logout" ng-click="Logout()">
				<md-icon class="material-icons">exit_to_app</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="container">
		<md-card class="login-card container">
			<div class="vertical center" style="align-items: center;">
				<h2 class="md-display-1">You have successfully checked-in!</h2>
				<div id="randompic">
					<img ng-src="{{randomPic}}" />
				</div>
				<h3>{{randomQuote}}</h3>
			</div>
		</md-card>
	</div>
</div>
