<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-card>
		<md-toolbar>
		<h1> Student logged in</h1>
            <md-button ng-click="Logout()"><p><span>
<md-icon aria-label="directions" class="material-icons">directions_run</md-icon>
Logout</span></p></md-button>


		</md-toolbar>

	<div class="container">
		<div>
			<img src={{randomPic}} width=900 height=700 align = "right"/>

			<h1><font size="+10"> Lesson Outline </font></h1>

			<ul>
			  <li><font size="+2"> - Application Layer</font></li>
			  <li><font size="+2"> - Transport Layer</font></li>
			  <li><font size="+2"> - Network Layer</font></li>
			  <li><font size="+2"> - Link Layer</font></li>
			  <li><font size="+2"> - Physical</font></li>
			  <!--<li><font size="+6"> - Network Layer</font></li>-->
			</ul>


		</div>

	</div>

	<h3>{{randomQuote}}</h3>

	</md-card>
</div>
