<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-card>
		<md-toolbar>
		<h1> Student logged in</h1>
            <md-button ng-click="Logout()"><p><span>
<md-icon aria-label="directions" class="material-icons">directions_run</md-icon>
Logout</span></p></md-button>


		</md-toolbar>

	<div class="container">
		<div>
			<img src={{randomPic}} align = "right"/>

			<h1>An unordered HTML list</h1>

			<ul>
			  <li>    Application Layer</li>
			  <li>    Link Layer</li>
			  <li>    Network Layer</li>
			</ul>


		</div>

	</div>

	<h3>{{randomQuote}}</h3>

	</md-card>
</div>
