<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-toolbar>
		<div class="row">
			<h1>Student Home Page</h1>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Logout" ng-click="Logout()">
				<md-icon class="material-icons">exit_to_app</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<div class="container">
		<md-card class="login-card container">
			<h2 class="md-display-1"> Check-in </h2>
			<form name="Form">
				<md-input-container class="md-block">
					<md-icon class="material-icons">vpn_key</md-icon>
					<label>Check-in Code</label>
					<input id="code_input" class="login" ng-required="1" type="number" ng-model="id" pattern="^[0-9]{7}$">
					</input>
				</md-input-container>

			</form>
			<md-button ng-class="'md-primary md-raised'"ng-click="verifyMatch();" >Verify </md-button>
		</md-card>
	</div>
</div>
