<div ng-app='StudentTimer' ng-controller="Studentctrl">
	<md-toolbar>
		<div class="row">
			<h1>Teacher Home Page</h1>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Logout" ng-click="Logout()">
				<md-icon class="material-icons">exit_to_app</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="countdown-container">
		<countdown autostart="true" time="30" colors="flat-colors" callback="finished()"></countdown>
	</div>
	<div class="container">

		<div class="vertical">
			<div class="row">
				<div class="vertical">
					<h2 class="md-display-1"> Check-in Code </h2>
					<div class="row">
						<div class="digit-block" ng-repeat="digit in code.toString() track by $index"> {{ digit}} </div>
					</div>
				</div>
			</div>

			<h2 class="md-display-1"> List of online students for teacher {{teachlogin}}</h2>	
			
			<table border="1" class="table">
				<tr>
					<th>Student id </th>
					<th>Time of check-in </th>
				</tr>
				<tr ng-repeat="stud in studonline">
					<td>{{stud.id}} </td>
					<td>{{stud.checkin}} </td>
				</tr>
			</table>	
		</div>
	</div>

		<!--

<md-grid-list md-cols="7" md-row-height="1:1" md-gutter="8px" >
   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input  disabled type="number" id="focus1" ng-model='curr[0]'
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe>
   </md-grid-tile>

   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input disabled type="number" id="focus2"  ng-model='curr[1]'
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe>
   </md-grid-tile>

   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input disabled type="number" id="focus3" ng-model="curr[2]"
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe> </md-grid-tile>

   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input disabled type="number" id="focus4" ng-model="curr[3]"
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe>
   </md-grid-tile>

   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input disabled type="number" id="focus5" ng-model="curr[4]"
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe>
   </md-grid-tile>

   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input disabled type="number" id="focus6" ng-model="curr[5]"
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe>
   </md-grid-tile>

   <md-grid-tile>
	<md-whiteframe class="numinput md-whiteframe-4dp">
		<md-input-container class="md-block md-headline">
    	<input disabled type="number" id="focus7" ng-model="curr[6]"
	 maxlength="1"  />
		</md-input-container>
	</md-whiteframe>
   </md-grid-tile>
</md-grid-list>


-->

</div>
